@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
/* font-family: 'Shanti', sans-serif; */
/* font-family: 'Bungee', cursive; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: flex;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #1a1a1a;
}
header {
  width: auto;
  background-color: #001a00;
  border-bottom: 5px solid #000000;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  font-family: "Bungee", cursive;
  width: 100%;
}

a {
  text-decoration: none;
  color: #afafaf;
}

.title {
  padding: 0 4%;
  justify-content: left;
  width: 40%;
}
.title h1 {
  font-size: 3.5rem;
  color: #1db954;
  text-shadow: 5px 5px #000000;
}
#spotify:hover {
  color: #ffffff;
}

.headLink {
  width: 50%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headLink a {
  margin: 0 3%;
  font-size: 2.2rem;
  padding: 1.5%;
  text-shadow: 5px 5px #000000;
}
.headLink a:hover {
  color: #1db954;
}

footer div {
  border-top: 5px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001a00;
  height: 8vh;
  text-align: center;
  color: #afafaf;
  font-size: 2rem;
  width: 100%;
  margin-top: 5rem;
}
#footLink {
  font-family: "Shanti", sans-serif;
  border-radius: 5px;
  background-color: #000000;
  padding: 0.75%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main section {
  width: 95%;
  /* border: 1px solid green; */
}
.main div {
  /* border: 1px solid crimson; */
  width: auto;
  margin: 2% 1%;
}
.sText {
  font-family: "Shanti", sans-serif;
  padding: 2%;
  color: #afafaf;
  font-size: 1.5rem;
  background-color: #00001a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 35px;
}
.sText h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.sIMG img {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.s2 .sIMG,
.s4 .sIMG {
  order: 2;
}
